.movie-rating{
    display: flex;
}
.add-one{
    align-self:center;
    cursor: pointer;

}

.substract-one{
    align-self:center;
    cursor: pointer;
}
.substract-one:focus{
   background-color: red;
}

.rating-number{
    align-self: center;
}