.list-header-container{
    display: flex;
    justify-content: space-between;
    text-decoration: white underline;
    color:white;
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.list-header-container p{
    font-weight: bold;
}
.list-header-container #title{
    margin-left:70px
}
.list-header-container #image{
    margin-left:10px
}
.list-header-container #delete{
    margin-right:10px
}